@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=Inter:wght@400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inria Sans', sans-serif;

}

body {}

/* nav bar */
.content {
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}

.navbar {
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    border-bottom: 1px solid #000000;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    z-index: 2;
    transition: all 0.3s ease;

}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    display: flex;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0;
    padding-left: 1.25rem;

}

.logo-img {
    width: 2.5rem;
    margin: 0;
}

.nav-menu {
    display: inline-flex;

}

.nav-menu li {
    list-style: none;
    padding: 0 1.25rem;

}

.nav-menu li a {
    text-decoration: none;
    font-size: 1.5625rem;
    font-weight: 400;
    color: #000000;
    transition: all 0.3s ease;

}



.nav-menu ul li :hover {
    color: #064AFA;
}

.Lo-btn {
    cursor: pointer;
    width: 118px;
    height: 35px;
    border-radius: 19px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.252);
    background-color: #064AFA;
    color: white;
    font-weight: 400;
    border: none;
    font-size: 1.5625rem;
}



.icon {
    position: fixed;
    color: #064AFA;
    font-size: 30px;
    cursor: pointer;
    display: none;
    right: 10px;
    top: 8px;

}

.nav-menu .cancel-btn {
    position: absolute;
    right: 30px;
    bottom: 10px;
    width: 60px;
    height: 50px;
}

.h-12 {
    display: none;
    padding: 0;

}

/*  main */
.main {
    display: flex;
    margin-top: 57px;
    background-color: #F4F8FD;
}

.main .left-side-bar {
    width: 22%;
    height: 93vh;
    padding: 50px 6px 5px 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    position: fixed;
    transition: all 0.3s ease;

}

.main .left-side-bar .img {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 8px;
    font-size: 1rem;
}

.main .left-side-bar .img:hover {
    color: #064AFA;
}

.sub-qst {
    margin-left: 70px;
    margin-bottom: 6px;
    font-size: 14px;
    cursor: pointer;
}

.sub-qst :hover {
    color: #064AFA;
}

.main .left-side-bar .img img {
    width: 30px;
    height: 30px;
    margin: 8px 15px 8px 0;
}



.left-side-bar input[type="checkbox"],
ul {
    display: none;

}

.item input:checked~ul,
.subbb input[type="checkbox"] {
    display: inline;
    margin-right: 3px;
    margin-left: 74px;
}


.item label {
    cursor: pointer;
}

.item label :hover {
    color: #064AFA;
}

.arrow {
    vertical-align: middle;
    width: 10px;
    height: 10px;
    float: left;
    margin: 5px 5px 0 55px;

}

.item input+.arrow {
    transform: rotate(0deg);
    transition: .1s;

}

.item input:checked+.arrow {
    transform: rotate(90deg);
    transition: .1s;

}

/*center*/

.main .center {
    width: 100%;
    height: 92vh;
    font-family: 'Inter';
    font-style: normal;

}

/* center content */


/*media*/


@media (max-width: 1230px) {
    .content {
        padding: 0 60px;
    }
}

@media (max-width: 1100px) {
    .content {
        padding: 0 40px;
    }
}

@media (max-width: 900px) {
    .content {
        padding: 0 30px;
    }
}

@media (max-width: 868px) {
    body.disabled {
        overflow: hidden;
    }

    .main .left-side-bar {
        display: none;
    }

    .h-12 {
        display: block;
    }

    .icon {
        display: block;
    }

    .icon.hide {
        display: none;
    }

    .navbar .nav-menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        right: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: #1A3C94;
        transition: all 0.3s ease;
    }

    .navbar.show .nav-menu {
        right: 0%;
    }

    .navbar .nav-menu li,
    .Lo-btn {
        margin-top: 45px;
    }

    .navbar .nav-menu li a {
        font-size: 23px;
        margin-right: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        color: #ffffff;
    }

    .navbar.show .nav-menu li a {
        margin-right: 0px;
    }
}

@media (max-width: 380px) {
    .navbar .logo a {
        font-size: 27px;
    }
}

/* center content */